.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

body, html, .main {
    height: 100%;
}

section {
    min-height: 100%;
}

#full{
  min-height:100%;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.button_nav{
  width:100%;
  text-align:center;
  padding:5px;


}

.button_nav a{
  padding:20px;
  color:white;
  border: dotted 2px white;

}

a:hover {
    color: black;
}

#card{
  height:150px;
  width:150px;
  display:block;
  float:left;
  text-align: center;

}

#portfolio{

}
#card h2{
  border-top:solid black 1px;
  border-bottom:solid black 1px;
}

#me{
  width:300px;
  height:300px;
  padding:5px;
}
#carousel{
  width:100%;

  height:100%;
}

#web_icon{

  padding:10px;
  width:200px;
  height:200px;
  margin:0, auto;
}
.button_nav{}

#graphic_icon{
  padding:10px;
  width:200px;
  height:200px;

}
#skills{
  background-color: pink;
  min-height: 100%;
}

#portfolio{
  background-color: #e1bee7;
  min-height: 100%;
}
.chart{
  text-align: center;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;

}

.card{
  border: solid 1px purple;
}

.chart_two{
  text-align: center;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;

}

.carousel-item{
  width: 500px;
  height:300px;
}
.carousel img{
  width:200%;
  height:100%;
}

.chart_three{
  text-align: center;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;

}
