.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.button_nav{
  width:100%;
  text-align:center;
  padding:5px;
}

#card{
  height:150px;
  width:150px;
  display:block;
  float:left;
  text-align: center;

}

#portfolio{

}
#card h2{
  border-top:solid black 1px;
  border-bottom:solid black 1px;
}

#me{
  width:300px;
  height:300px;
  padding:5px;
}
#carousel{
  width:100%;

  height:100%;
}

#web_icon{
  padding:10px;
  width:200px;
  height:200px;

}


#graphic_icon{
  padding:10px;
  width:200px;
  height:200px;

}


.showWork{
  background-color: white;
  text-align: center;
  width:75%;
  height:auto;
  margin: 0px auto;
}


#tab a{
  color: #1bbc9b;

}

#description{
  border: solid 1px purple;
  height: 100px;
}

#programs{
  border: solid 1px purple;
  height:100px;

}

#center{
  margin:0 auto;
}

#web_card{
  width:300px;
  height:200px;
}

.chart{
  text-align: center;
}
