@import url('https://fonts.googleapis.com/css?family=Ropa+Sans|Simonetta');


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#aboutme{
  background-image: url("../images/indianBkground.jpg");
  min-height:100%;


}


#contact{
  background-image: url("../images/floral.jpg");
  min-height:100%;


}
#skills{
  min-height:100%;
}
#intro1, #background2, #edu3, #work4{
  height: 100%;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

body, html {
    height: 100%;

    font-family: 'Ropa Sans', sans-serif;
    font-size:16px;

}
h1, h2, h3, h4, h5, h6{
font-family: 'Simonetta', cursive;


}

.next{
  width:100px;
  height:50px;
  background-color:#e91e63;
  padding:10px;
  color:white;

  text-align:center;
}

section {
    min-height: 100%;
}

#full{
  min-height:100%;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.button_nav{
  width:100%;
  text-align:center;
  padding:5px;


}

.button_nav a{
  padding:20px;
  color:white;
  border: dotted 2px white;

}

a:hover {
    color: black;
}

#card{
  height:150px;
  width:150px;
  display:block;
  float:left;
  text-align: center;

}

#portfolio{

}

#me{
  width:40%;
  height:40%;
}
#carousel{
  width:100%;

  height:100%;
}

#web_icon{

  padding:10px;
  width:30%;
  height:60%;
  margin:0, auto;
}
.button_nav{}

#graphic_icon{
  padding:10px;
  width: 40%;
  height:50%;

}
#skills{
  background-color:#81d4fa;
  min-height: 100%;
}

#portfolio{
  background-color: #e1bee7;
  min-height: 100%;
}
.chart{
  text-align: center;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;

}

.card{
  border: solid 1px purple;
}

.chart_two{
  text-align: center;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;

}

.carousel-item{
  width: 500px;
  height:300px;
}
.carousel img{
  width:200%;
  height:100%;
}

.chart_three{
  text-align: center;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;

}
